<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <%= if assigns[:meta_attrs], do: meta_tags(assigns[:meta_attrs]) %>

    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Aswin Mohan", suffix: "  · aswinmohan.me" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <script defer data-domain="aswinmohan.me" src="https://plausible.io/js/script.js">
  </head>
  <body>
    <header>
      <h1>Aswin Mohan</h1>
      <p class="mt-1">
        handcrafted by someone who loves code (mobile, frontend, backend), design
        and life.
      </p>
      <div class="mt-4 flex flex-col items-start space-y-2 md:flex-row md:items-center md:space-y-0 md:justify-between">
        <div class="flex flex-row items-center space-x-2 -ml-2">
          <%= live_redirect("home",
            to: ~p"/",
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
          <%= live_redirect("about",
            to: ~p"/about",
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
          <%= live_redirect("now",
            to: ~p"/now",
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
          <%= live_redirect("talks",
            to: ~p"/talks",
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
        </div>
        <div class="flex flex-row items-center space-x-2 -ml-2">
          <a
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
            href="mailto:hey@aswinmohan.me"
          >
            email
          </a>
          <a
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
            href="https://github.com/aswinmohanme"
          >
            github
          </a>
          <a
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
            href="https://twitter.com/aswinmohanme"
          >
            twitter
          </a>
        </div>
      </div>
      <div class="text-gray-900 rounded-lg mt-8 bg-gray-100 border px-4 py-2">
        <p>
          I'm currently working on <a href="https://nellohq.com">Nello</a>, a checkout platform that makes B2B cross-border payments 10x cheaper, faster and easier.
          If you want to try it out, invest, join or just want to talk about it, you can reach me at <a href="mailto:aswin@nellohq.com">aswin@nellohq.com</a>.
        </p>
      </div>
    </header>
    <%= @inner_content %>
    <footer class="mt-20 text-sm border-t pt-4">
      <p>&#169; Aswin Mohan, 2023</p>
    </footer>
  </body>
</html>
