<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <%= if assigns[:meta_attrs], do: meta_tags(assigns[:meta_attrs]) %>

    <.live_title suffix=" · aswinmohan.me">
      <%= assigns[:page_title] || "Aswin Mohan" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <script defer data-domain="aswinmohan.me" src="https://plausible.io/js/script.js">
    </script>
  </head>
  <body>
    <header>
      <h2 class="font-medium">Aswin Mohan</h2>
      <p class="mt-1">
        handcrafted by someone who loves code (mobile, frontend, backend), design
        and life.
      </p>
      <div class="mt-4 flex flex-col items-start space-y-2 md:flex-row md:items-center md:justify-between md:space-y-0">
        <div class="-ml-2 flex flex-row items-center space-x-2">
          <.link patch={~p"/"} class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black">
            home
          </.link>
          <.link
            patch={~p"/about"}
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          >
            about
          </.link>
          <.link
            patch={~p"/now"}
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          >
            now
          </.link>
          <.link
            patch={~p"/talks"}
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          >
            talks
          </.link>
        </div>
        <div class="-ml-2 flex flex-row items-center space-x-2">
          <a
            class="rounded-md px-2 py-1 hover:bg-yellow-200 hover:text-black"
            href="mailto:hey@aswinmohan.me"
          >
            email
          </a>
          <a
            class="rounded-md px-2 py-1 hover:bg-yellow-200 hover:text-black"
            href="https://github.com/aswinmohanme"
          >
            github
          </a>
          <a
            class="rounded-md px-2 py-1 hover:bg-yellow-200 hover:text-black"
            href="https://twitter.com/aswinmohanme"
          >
            twitter
          </a>
        </div>
      </div>
      <div class="text-primary-900 bg-primary-100 border-primary-200 shadow-xs mt-8 rounded-lg border px-4 py-2">
        <p>
    I'm always up for meeting new people and sharing ideas or a good joke. Ping me at
          <a href="mailto:hey@aswinmohan.me">hey@aswinmohan.me</a>
          and let's talk.
        </p>
      </div>
    </header>
    <%= @inner_content %>
    <footer class="mt-20 border-t pt-4 text-sm">
      <p>Designed, built and maintained lovingly by Aswin Mohan, 2024</p>
    </footer>
  </body>
</html>
