<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "Aswin Mohan", suffix: " · aswinmohan.me") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <header class="mt-12">
      <h1 class="bg-gray-300">aswinmohan.me</h1>
      <p class="mt-1">
        handcrafted by someone who loves code (mobile, frontend, backend), design
        and life.
      </p>
      <div class="mt-6 flex flex-col divide-y-2 border md:flex-row md:divide-x-2 md:divide-y-0">
        <%= live_redirect "home", to: Routes.page_path(@conn, :index), class: "px-2 py-1" %>
        <%= live_redirect "about", to: Routes.page_path(@conn, :about), class: "px-2 py-1" %>
        <%= live_redirect "now", to: Routes.page_path(@conn, :now), class: "px-2 py-1" %>
        <%= live_redirect "talks", to: Routes.page_path(@conn, :talks), class: "px-2 py-1" %>
        <div class="py-4 md:flex-1"></div>
        <a class="px-2 py-1" href="mailto:hey@aswinmohan.me">email</a>
        <a class="px-2 py-1" href="https://github.com/aswinmohanme">github</a>
        <a class="px-2 py-1" href="https://twitter.com/aswinmohanme">twitter</a>
      </div>
      <div class="border-primary-300 mt-8 border bg-gray-200 px-4 py-2">
        <p>
          I'm currently looking for fulltime/contracting oppurtunities in
          Elixir, Phoenix and LiveView. If you're looking for a kickass Product
          focused Elixir developer, I'm your guy. You can find my resume
          <a href="./resume.pdf">here</a>
          and reach me at <a href="mailto:hey@aswinmohan.me">hey@aswinmohan.me</a>.
        </p>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
