<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />

    <%= if assigns[:meta_attrs], do: meta_tags(assigns[:meta_attrs]) %>
    <%= live_title_tag(assigns[:page_title] || "Aswin Mohan", suffix: " · aswinmohan.me") %>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>

    <script defer data-domain="aswinmohan.me" src="https://plausible.io/js/script.js">
    </script>
  </head>
  <body>
    <header>
      <h1>Aswin Mohan</h1>
      <p class="mt-1">
        handcrafted by someone who loves code (mobile, frontend, backend), design
        and life.
      </p>
      <div class="mt-4 flex flex-col items-start space-y-2 md:flex-row md:items-center md:space-y-0 md:justify-between">
        <div class="flex flex-row items-center space-x-2">
          <%= live_redirect("home",
            to: Routes.page_path(@conn, :index),
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
          <%= live_redirect("about",
            to: Routes.page_path(@conn, :about),
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
          <%= live_redirect("now",
            to: Routes.page_path(@conn, :now),
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
          <%= live_redirect("talks",
            to: Routes.page_path(@conn, :talks),
            class: "px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
          ) %>
        </div>
        <div class="flex flex-row items-center space-x-2">
          <a
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
            href="mailto:hey@aswinmohan.me"
          >
            email
          </a>
          <a
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
            href="https://github.com/aswinmohanme"
          >
            github
          </a>
          <a
            class="px-2 py-1 hover:bg-yellow-200 rounded-md hover:text-black"
            href="https://twitter.com/aswinmohanme"
          >
            twitter
          </a>
        </div>
      </div>
      <div class="text-gray-900 rounded-lg mt-8 bg-yellow-100 px-4 py-2">
        <p>
          I'm currently looking for contracting oppurtunities in
          Elixir, Phoenix, LiveView, React and React Native. If you're looking for a kickass product
          focused full-stack designer/developer and you need the MVP of your Mobile or Web App built fast and right, I'm your guy. We can talk at <a href="mailto:hey@aswinmohan.me">hey@aswinmohan.me</a>.
        </p>
      </div>
    </header>
    <%= @inner_content %>
    <footer class="mt-20 text-sm border-t pt-4">
      <p>&#169; Aswin Mohan, 2023</p>
    </footer>
  </body>
</html>
