@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer base {
  body {
    @apply mx-auto max-w-3xl bg-stone-50 px-6 pt-12 pb-24 text-justify text-base leading-6 text-primary-700 subpixel-antialiased md:text-lg;
  }

  article {
    @apply prose prose-stone mt-12 max-w-none md:prose-lg;
  }

  a {
    @apply text-blue-700 hover:text-blue-800;
  }

  code {
    @apply font-normal;
  }

  pre {
    @apply mb-8 mt-4 border rounded-lg border-primary-200 p-4 font-mono shadow-sm bg-primary-100 text-primary-900;
  }

  img {
    @apply rounded-lg border border-primary-200 shadow;
  }

  @font-face {
    font-family: Jost;
    font-weight: 400;
    src: url(../fonts/Jost-400-Book.ttf) format("truetype");
    font-display: fallback;
  }

  @font-face {
    font-family: Jost;
    font-weight: 500;
    src: url(../fonts/Jost-500-Medium.ttf) format("truetype");
    font-display: fallback;
  }

  @font-face {
    font-family: Jost;
    font-weight: 600;
    src: url(../fonts/Jost-600-Semi.ttf) format("truetype");
    font-display: fallback;
  }

  @font-face {
    font-family: Jost;
    font-weight: 700;
    src: url(../fonts/Jost-700-Bold.ttf) format("truetype");
    font-display: fallback;
  }

  @font-face {
    font-family: AnkaCoder;
    font-weight: 400;
    src: url(../fonts/anka-coder.ttf) format("truetype");
    font-display: fallback;
  }
}
